<main>
  <section class="shortened-urls">
    <app-shortener></app-shortener>

    <div class="shortened-urls__list">
      @for (item of shortenedUrlList(); track item.short) {
        <app-short-url [itemUrl]="item"></app-short-url>
      }
    </div>
  </section>

  <section class="statistics">
    <h2 class="statistics__title">Advanced Statistics</h2>
    <p class="statistics__title-description">
      Track how your links are performing across the web with our advanced statistics dashboard.
    </p>

    <div class="statistics__info">
      <div class="info-bg"></div>

      @for (item of statisticsList; track $index) {
        <app-info-card [statistic]="item" class="mt-{{ $index }}"></app-info-card>
      }
    </div>
  </section>
</main>

<section class="boost">
  <h2>Boost your links today</h2>
  <button routerLink="/" fragment="shortener">Get Started</button>
</section>
